Asp.Net/aspnetwebstack/src/System.Web.OData/OData/Query/Configuration/AggregationConfiguration.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:System.Web.OData.OData.Query.Configuration" elementFormDefault="qualified" targetNamespace="urn:System.Web.OData.OData.Query.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="aggregation" type="tns:System.Web.OData.OData.Query.Configuration.AggregationConfigurationCT" />
	<xs:complexType name="System.Web.OData.OData.Query.Configuration.AggregationConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="externalLibraries" type="tns:System.Web.OData.OData.Query.Configuration.ExternalLibrariesCT">
				<xs:annotation>
					<xs:documentation>The ExternalLibraries.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="System.Web.OData.OData.Query.Configuration.ExternalLibrariesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="location" type="tns:System.Web.OData.OData.Query.Configuration.LocationCT">
				<xs:annotation>
					<xs:documentation>The Location Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="System.Web.OData.OData.Query.Configuration.LocationCT">
		<xs:attribute name="uri" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Uri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
